@charset "UTF-8";

body {
    line-height: 1.42857;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    transition: .5s;
}

#inputURL {
    width: 50em;
    resize: none;
    outline: none;
    vertical-align: top;
}

button#goURL {
    width: 8em;
    height: 30px;
    vertical-align: top;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

#videoFrame {
    margin: 0 auto;
    padding: 1em;
}