@import url("/style.css");

div.app_index {
    margin: 0;
    padding: 0;
    display: inline-block;
}

div.app_index a {
    text-decoration: none;
    color: black;
}

div.app_index a.app_banner {
    display: block;
}

a.app_banner {
    cursor: pointer;
    background: white;
    background-color: white;
    width: 200px;
    height: 292.5px;
    border: 2px solid #ededed;
    border-radius: 10px;
    position: relative;
    display: table;
    margin: 2.5px;
    text-align: left;
}

a.app_banner p {
    margin: 0;
    padding: 0;
    color: #333;
    text-align: left;
    font-style: normal;
}

a.app_banner img {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
}

.app_price {
    color: #fc341c;
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 300;
    text-align: left;
}

@media (prefers-color-scheme: dark) {
    div.app_index a {
        text-decoration: none;
        color: white;
    }

    .app_banner {
        background: black;
        background-color: black;
        border: 2px solid #f5f5f5;
    }

    .app_banner p {
        text-align: left;
        color: white;
    }
}
