@charset "UTF-8";

.appIndex {
    margin: 6px 8px;
    padding: 0;
    /*Index*/
    cursor: pointer;
    background-color: white;
    width: 200px;
    height: 292.5px;
    border: 2.5px solid #ededed;
    border-radius: 10px;
    box-shadow: 8px 8px 13px -8px;
    position: relative;
    text-align: left;
}

.appIndexMark {
    display: inline-flex;
    flex-wrap: wrap;
    width: 80%;
}

.appIndex a {
    color: #333;
    text-decoration: none;
}

.appIndex a:hover {
    color: #666;
    text-decoration: none;
}

.appIndex img {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 175px;
    object-fit: cover;
    border-radius: 7.5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.appIndex p.description {
    margin: 4px;
    padding: 0;
    font-size: 12px;
}

.appPrice {
    margin: 12px 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #bf2732;
    width: fit-content;
}

@media (prefers-color-scheme: dark) {
    .appIndex {
        background-color: #15202B;
        border: 2.5px solid #5e5e5e;
    }

    .appIndex a {
        color: #ededed;
        text-decoration: none;
    }
    
    .appIndex a:hover {
        color: #cecece;
        text-decoration: none;
    }
}