@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Noto+Sans+JP:wght@500&display=swap');

h3.heading_title {
     color: black;
     border-bottom: solid 3px darkgray;
}

div.app_index {
display: inline-block;
margin: 0; 
padding: 0;
}

.app_select_button {
    background: white;
    background-color: white;
    width: 200px;
    height: 292.5px;
    border: 2px solid whitesmoke; 
    border-radius: 10px;
    position: relative;
    display: table;
}
.app_select_button p {
    margin: 0; 
    padding: 0;
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
}
.app_select_button img {
    margin: 0; 
    padding: 0;
	width: 200px;
    height: 175px;
	object-fit: cover;
	border-radius: 10px;
}   
.app_select_button a {
    text-decoration: none;
    color: black;
    display: block;
}
div.app_price {
    color: #fc341c;
    position: absolute;
    bottom: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

@media (prefers-color-scheme: dark) {
h3.heading_title {
     color: white;
     border-bottom: solid 3px darkgray;
}

div.app_index {
display: inline-block;
margin: 0; 
padding: 0;
}

.app_select_button {
    background: black;
    background-color: black;
    width: 200px;
    height: 292.5px;
    border: 2px solid whitesmoke; 
    border-radius: 10px;
    position: relative;
    display: table;
}
.app_select_button p {
    margin: 0; 
    padding: 0;
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
}
.app_select_button img {
    margin: 0; 
    padding: 0;
	width: 200px;
    height: 175px;
	object-fit: cover;
	border-radius: 10px;
}   
.app_select_button a {
    text-decoration: none;
    color: white;
    display: block;
}
div.app_price {
    color: #fc341c;
    position: absolute;
    bottom: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
}
