@charset "UTF-8";
@import url("/fonts.css");

/*=======
Gist関連
=======*/

.gist iframe.render-viewer {
	height: 700px !important;
	width: 1000px !important;
}

.gist-file {
    border-bottom: none !important;
}

/* 文字大きくしてフォント変更する */
table.highlight tr td,
table.highlight tr td span {
    font-size: 15px !important;
    font-family: "Cascadia Code", monospace !important;
}

/* 上部の余白を開ける */
.gist tr:first-child td {
    padding-top: 12px !important;
}

/* 下部の余白を開ける */
.gist tr:last-child td {
    padding-bottom: 12px !important;
}