@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Noto+Sans+JP:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    color: #444444;
    font-size: 16px;
    font-family: 'Noto Sans JP', 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Helvetica, Arial, sans-serif;
    line-height: 1.42857;
    color: var(--main-text);
    background-color: var(--main-bg);
    transition: 0.5s;
}

p {
    margin: 2.5px;
    padding: 0;
    text-align: left;
}

h2 {
    margin: 2.5px;
    padding: 0;
    text-align: left;
}

h3 {
    margin: 2.5px;
    padding: 0;
    text-align: left;
}

img {
    margin: 2.5px;
    padding: 0;
    text-align: left;
}

.app_select_button {
    margin: 2.5px;
    padding: 0;
    text-align: left;
}

.button_dl a {
    text-decoration: none
}

/* ヘッダー */

.header {
    z-index: 100;
    padding: 24px 0;
    width: 100%;
    margin: 0;
    border-bottom: #ccd1d9 solid 1px;
    background-color: white;
    color: #333333;
    text-align: center;
}

.header-title {
    margin: 0;
    font-size: 2.4em;
}

.header-description {
    color: #999999;
}

/* ナビゲーション */

.nav {
    z-index: 100;
    padding: 12px 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.nav-group {
    margin: 0;
    padding: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.nav-group>li {
    margin: 0;
    padding: 0 12px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.nav-group>li a {
    display: block;
    padding: 6px 12px;
    color: #333;
    text-decoration: none;
}

.nav-group>li a:hover {
    color: #999;
}

.nav-group>li a.active {
    border-bottom: #333 solid 2px;
    color: #999;
}

/* メインイメージ */
.main {
    padding: 144px 0;
    width: 100%;
    background: #ea5866;
    background-image: linear-gradient(135deg, #ffff00, #ffe200, #da4453);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

.main h1 {
    margin: auto;
    text-align: center;
}

/* コンテンツ */

.content {
    padding: 48px 0 24px;
}

.toggle {
    display: none;
    visibility: hidden;
}

.Label {
    padding: 1em;
    display: block;
    color: #fff;
    background: #0f0f0f;
    cursor: pointer;
}

.Label::before {
    content: "";
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: calc(50% - 3px);
    right: 20px;
    transform: rotate(135deg);
}

.Label,
.content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
}

.content {
    height: 0;
    margin-bottom: 10px;
    padding: 0 20px;
    overflow: hidden;
}

.toggle:checked+.Label+.content {
    height: auto;
    padding: 20px;
    transition: all .3s;
}

.toggle:checked+.Label::before {
    transform: rotate(-45deg) !important;
}

/* フッター */

.footer {
    padding: 12px 0;
    border-top: #ccd1d9 solid 1px;
    background: #fff;
    text-align: center;
}

.footer-nav {
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
}

.footer-nav-group {
    margin: 0;
    padding: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.footer-nav-group>li {
    margin: 0;
    padding: 0 6px;
    font-size: 0.9em;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.footer-nav-group>li a {
    color: #666;
    text-decoration: none;
}

.footer-nav-group>li a:hover {
    color: #999;
}

.footer-copyright {
    color: #999;
    font-size: 0.8em;
}

/* パーツ */

.label {
    margin: 0 12px;
    padding: 3px 6px;
    border: #656d78 solid 1px;
    background: #656d78;
    color: #fff;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-size: 0.6em;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.label_normal {
    border: #656d78 solid 1px;
    background: #656d78;
}

.label_primary {
    border: #5d9cec solid 1px;
    background: #5d9cec;
}

.label_success {
    border: #a0d468 solid 1px;
    background: #a0d468;
}

.label_warning {
    border: #ffce54 solid 1px;
    background: #ffce54;
}

.label_danger {
    border: #ed5565 solid 1px;
    background: #ed5565;
}

.text_normal {
    color: #656d78;
}

.text_primary {
    color: #4a89dc;
}

.text_success {
    color: #8cc152;
}

.text_warning {
    color: #f6bb42;
}

.text_danger {
    color: #da4453;
}

.message {
    margin-bottom: 12px;
    padding: 12px 24px;
    border: #656d78 solid 1px;
    background: #656d78;
    color: #fff;
    vertical-align: baseline;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.message_normal {
    border: #656d78 solid 1px;
    background: #656d78;
}

.message_default {
    border: #ccd1d9 solid 1px;
    background: #f5f7fa;
    color: #656d78;
}

.message_primary {
    border: #4a89dc solid 1px;
    background: #4a89dc;
}

.message_success {
    border: #8cc152 solid 1px;
    background: #8cc152;
}

.message_warning {
    border: #f6bb42 solid 1px;
    background: #f6bb42;
}

.message_danger {
    border: #da4453 solid 1px;
    background: #da4453;
}

.panel {
    margin-bottom: 24px;
    width: 100%;
    border: #ccd1d9 solid 1px;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.panel-header {
    padding: 12px 24px;
    border-bottom: #ccd1d9 solid 1px;
    background: #f5f7fa;
    font-size: 0.9em;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.panel-body {
    padding: 12px 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*追従するトップへ戻るボタン*/
#page_top {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #e25407;
    opacity: 0.6;
    border-radius: 50%;
}

/* Font Awesome */
#page_top::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 50px;
    color: #ffffff;
    position: absolute;
    width: 30px;
    height: 60px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

/* マウスオーバー時 */
#page_top:hover {
    background: rgb(255, 0, 0, 0.8);
    color: rgb(255, 255, 255, 0.8);
}

/* ダウンロードボタン */
.button_dl a {
    background: #eeeeee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 220px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 0 #6bb6ff;
}

.button_dl a:hover {
    background-color: #b3d9ff;
    box-shadow: 0 0 0;
    transform: translate(5px, 5px);
}

/*ダークモード用*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        background: black;
        color: white;
    }

    .header {
        background-color: black;
        color: white;
    }

    .nav {
        background-color: black;
        color: white;
    }

    .footer {
        background-color: black;
        color: white;
    }

    .footer-nav {
        background-color: black;
        color: white;
    }

    .nav-group {
        background-color: black;
        color: white;
    }

    .footer-nav-group {
        background-color: black;
        color: white;
    }

    .footer-copyright {
        background-color: black;
        color: white;
    }

    textarea {
        background-color: gray;
        color: white;
    }
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

.summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

@media (min-width: 800px) {
    body.column {
        width: 240px;
        float: left;
    }
}

@media (max-width: 799px) {
    body.column {
        width: 100%;
    }
}