@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&family=Noto+Sans+JP:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    color: #444;
    font-family: 'Noto Sans JP', 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.42857;
    font-size: 16px;
    margin: 22px;
    color: var(--main-text);
    background-color: var(--main-bg);
    transition: 0.5s;
}

p,
img,
h2,
h3,
h4,
h5 {
    margin: 8px auto;
    text-align: left;
}

.heading_title {
    color: black;
    border-bottom: solid 3px #a9a9a9;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    color: black;
}

summary {
    display: block;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

.summary_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border: 1px solid #d2beff;
    font-weight: bold;
    color: #002255;
}

.detailsIcon {
    display: block;
    position: relative;
    width: 24px;
    margin-left: 6px;
    flex-shrink: 0;
    transform-origin: center 43%;
    transition: transform 0.4s;
}

details.is-opened .detailsIcon {
    transform: rotate(180deg);
}

.detailsIcon::before,
.detailsIcon::after {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 3px;
    background-color: #7050ff;
}

.detailsIcon::before {
    left: 0;
    transform: rotate(45deg);
}

.detailsIcon::after {
    right: 0;
    transform: rotate(-45deg);
}

.detailsContent {
    overflow: hidden;
    background-color: #f0f2ff;
}

.detailsContent_inner {
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button_dl a {
    text-decoration: none
}

/* ヘッダー */

.header {
    z-index: 100;
    padding: 24px 0;
    width: 100%;
    margin: 0;
    border-bottom: #ccd1d9 solid 1px;
    background-color: white;
    color: #333;
    text-align: center;
}

.header-title {
    margin: 0;
    font-size: 2.4em;
}

.header-description {
    color: #999;
}

/* ナビゲーション */

.nav {
    z-index: 100;
    padding: 12px 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

.nav-group {
    margin: 0;
    padding: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.nav-group>li {
    margin: 0;
    padding: 0 12px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.nav-group>li a {
    display: block;
    padding: 6px 12px;
    color: #333;
    text-decoration: none;
}

.nav-group>li a:hover {
    color: #999;
}

.nav-group>li a.active {
    border-bottom: #333 solid 2px;
    color: #999;
}

/* メインイメージ */
.main {
    padding: 144px 0;
    width: 100%;
    background: #ea5866;
    background-image: linear-gradient(135deg, #ffff00, #ffe200, #da4453);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

.main h1 {
    margin: auto;
    text-align: center;
}

/* フッター */

.footer {
    padding: 12px 0;
    border-top: #ccd1d9 solid 1px;
    background: white;
    text-align: center;
}

.footer-nav {
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
}

.footer-nav-group {
    margin: 0;
    padding: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.footer-nav-group>li {
    margin: 0;
    padding: 0 6px;
    font-size: 0.9em;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.footer-nav-group>li a {
    color: #666;
    text-decoration: none;
}

.footer-nav-group>li a:hover {
    color: #999;
}

.footer-copyright {
    color: #999;
    font-size: 0.8em;
}

/* パーツ */

.label {
    margin: 0 12px;
    padding: 3px 6px;
    border: #656d78 solid 1px;
    background: #656d78;
    color: white;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-size: 0.6em;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.label_normal {
    border: #656d78 solid 1px;
    background: #656d78;
}

.label_primary {
    border: #5d9cec solid 1px;
    background: #5d9cec;
}

.label_success {
    border: #a0d468 solid 1px;
    background: #a0d468;
}

.label_warning {
    border: #ffce54 solid 1px;
    background: #ffce54;
}

.label_danger {
    border: #ed5565 solid 1px;
    background: #ed5565;
}

.text_normal {
    color: #656d78;
}

.text_primary {
    color: #4a89dc;
}

.text_success {
    color: #8cc152;
}

.text_warning {
    color: #f6bb42;
}

.text_danger {
    color: #da4453;
}

.message {
    margin-bottom: 12px;
    padding: 12px 24px;
    border: #656d78 solid 1px;
    background: #656d78;
    color: white;
    vertical-align: baseline;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.message_normal {
    border: #656d78 solid 1px;
    background: #656d78;
}

.message_default {
    border: #ccd1d9 solid 1px;
    background: #f5f7fa;
    color: #656d78;
}

.message_primary {
    border: #4a89dc solid 1px;
    background: #4a89dc;
}

.message_success {
    border: #8cc152 solid 1px;
    background: #8cc152;
}

.message_warning {
    border: #f6bb42 solid 1px;
    background: #f6bb42;
}

.message_danger {
    border: #da4453 solid 1px;
    background: #da4453;
}

/*追従するトップへ戻るボタン*/
#page_top {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #e25407;
    opacity: 0.6;
    border-radius: 50%;
}

#page_top::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 50px;
    color: white;
    position: absolute;
    width: 30px;
    height: 60px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

#page_top:hover {
    background: rgb(255, 0, 0, 0.8);
    color: rgb(255, 255, 255, 0.8);
}

/* ダウンロードボタン */
.button_dl a {
    background: #eeeeee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 220px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 0 #6bb6ff;
}

.button_dl a:hover {
    background-color: #b3d9ff;
    box-shadow: 0 0 0;
    transform: translate(5px, 5px);
}

/*ダークモード用*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #15202B;
        background: #15202B;
        color: white;
    }

    .heading_title {
        color: white;
        border-bottom: solid 3px #a9a9a9;
    }

    .summary_inner {
        color: #4169E1;
    }

    .detailsContent {
        overflow: hidden;
        background-color: #1B2631;
    }

    .header {
        background-color: #15202B;
        color: white;
    }

    .nav {
        background-color: #15202B;
        color: white;
    }

    .footer {
        background-color: #15202B;
        color: white;
    }

    .footer-nav {
        background-color: #15202B;
        color: white;
    }

    .nav-group {
        background-color: #15202B;
    }

    .nav-group>li a {
        color: #999;
        text-decoration: none;
    }

    .nav-group>li a:hover {
        color: #DDD;
    }

    .nav-group>li a.active {
        border-bottom: #999 solid 2px;
        color: #DDD;
    }

    .footer-nav-group {
        background-color: #15202B;
        color: white;
    }

    .footer-copyright {
        background-color: #15202B;
        color: white;
    }
}

.cookie-consent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -100px;
    left: calc(50% - 650px/2);
    width: 650px;
    font-size: 12px;
    background: white;
    padding: 1.2em;
    box-sizing: border-box;
    border: 1px solid #ddd;
    visibility: visible;
    transition: .5s;
}

.cookie-consent.is-show {
    top: 30px;
}

.cookie-text {
    color: black;
    width: 90%;
}

.cookie-agree {
    color: white;
    background: dodgerblue;
    padding: .5em 1.5em;
}

.cookie-agree:hover {
    cursor: pointer;
}

.cc-hide {
    animation: hide 1s linear 0s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (min-width: 800px) {
    body.column {
        width: 240px;
        float: left;
    }
}

@media screen and (max-width: 799px) {
    body.column {
        width: 100%;
    }

    .cookie-consent {
        flex-direction: column;
        width: 300px;
        left: calc(50% - 300px/2)
    }

    .cookie-text {
        width: 100%;
        margin-bottom: 1em;
    }
}

@media print {
    body {
        font-size: 12pt;
    }
}
